.admin__login__form {
    width: 300px;
    margin-top: -300px;
    padding: 50px 30px 30px 30px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: #fff;
}
.admin__login__btn {
    text-align: center;
}