.admin__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    height: 100%;
    &__content {
        display: flex;
        align-items: center;
        > i {
            margin-right: 40px;
            font-size: 26px;
            cursor: pointer;
        }
    }
    .el-color-picker__panel {
        right: 0;
    }
    .el-color-picker__trigger {
        background: #fff;
    }
}