.admin__sidemenu__contaniner__menu__logo {
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    background: #fff;
    text-align: center;
    border-radius: 5px;
}

.admin__sidemenu__contanier__item {
    .is-active {
        a {
            color: $active-color;
        }
    }

    a {
        color: $dark-color;
    }
}

.admin__menu--padding {
    .el-submenu__title {
        padding-left: 45px;
    }

    .admin__menu--padding {
        .el-menu-item {
            padding-left: 80px;
        }
    }
}