.admin__header__user {
    display: flex;
    align-items: center;
    padding-right: 50px;
    > img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border-radius: 50%;
    }
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #999;
    }
}
.admin__header__userName {
    cursor: pointer;
}